<!DOCTYPE html>
<!-- xhtml extendido -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Castraciones</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="prueba" id="animals">
            <h2 class="p-3 fw-bold ">Mascotas Disponibles</h2>
            <div class="row row-cols-6 p-4">
                <div class="card p-12" th:each="c : ${animals}">
                    <figure>
                        <img th:src="${c.imagen}"
                             height="250"
                             class="card-img-top"
                             alt="400">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold">[[#{animal.info}]]</h5>
                    </div>
                     <p class="card-text d-flex justify-content-between fs-5">
                            <span>[[#{animal.peso}]]</span>
                            <span>[[${c.peso}]]</span>
                        </p>
                    <p class="card-text d-flex justify-content-between fs-5">
                        <span>[[#{animal.edad}]]</span>
                        <span>[[${c.edad}]]</span>
                        <p class="card-text d-flex justify-content-between fs-5">
                            <span>[[#{animal.tamanio}]]</span>
                            <span>[[${c.tamanio}]]</span>
                        </p>
                        <p class="card-text d-flex justify-content-between fs-5">
                            <span>[[#{animal.sexo}]]</span>
                            <span>[[${c.sexo}]]</span>
                        </p>
                        <p class="card-text d-flex justify-content-between fs-5">
                            <span>[[#{animal.raza}]]</span>
                            <span>[[${c.raza}]]</span>
                        </p>
                        <p class="card-text d-flex justify-content-between fs-5">
                            <span>[[#{animal.comportamiento}]]</span>
                            <span>[[${c.comportamiento}]]</span>
                        </p>
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>
