<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Información sobre la adopción responsable</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <main>
            <div th:replace="adopcion/fragmentos :: informacion"></div>
            <div th:replace="adopcion/fragmentos :: cuidados"></div>
            <div th:replace="adopcion/fragmentos :: entrenamientoMascotas"></div>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
